<div class="block notice">
  <h3>Lopue</h3>
  <div class="content">
    <p>Lopue is a server monitoring application written in ruby </p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="http://www.arcath.net" target="_BLANK">Arcath.net</a></li>
    <li><a href="http://github.com/Arcath/Loupe" target="_BLANK">Loupe repo</a></li>
  </ul>
</div>
